= simple_form_for @local, html:{class: 'form-inline'} do |f|
  - if @local.errors.any?
    #error_explanation
      %h2= "#{pluralize(@local.errors.count, "error")} prohibited this local from being saved:"
      %ul
        - @local.errors.full_messages.each do |msg|
          %li= msg

  = f.input :name
  = f.input :radius
  = f.input :address
  = f.button :submit, 'Guardar Local'

  %div{ style: 'width: 800px; margin-top: 30px; text-align: center;'}
    %div{ id: 'map', style: 'width: 800px; height: 400px;'}