= simple_form_for @local, html:{class: 'col-sm-6 col-sm-offset-3 form-horizontal'} do |f|
  - if @local.errors.any?
    #error_explanation
      %h2= "#{pluralize(@local.errors.count, "error")} prohibited this local from being saved:"
      %ul
        - @local.errors.full_messages.each do |msg|
          %li= msg

  = f.input :name
  = f.input :radius
  = f.input :address

  %div{ id: 'map', style: 'width: 100%; height: 250px; margin-bottom: 20px'}

  = f.button :submit, 'Guardar Local'