%p#notice= notice

%p
  %b Nombre:
  = @local.name
%p
  %b Dirección:
  = @local.address

%span{id: 'info', data: {latitude: @local.latitude, longitude: @local.longitude, radius: @local.radius}}
%div{ id: 'map', style: 'width: 100%; height: 400px; margin-bottom: 30px'}

= link_to 'Editar', edit_local_path(@local), class: 'btn btn-warning'
= link_to 'Eliminar', @local, :method => :delete, :data => { :confirm => '¿Estás seguro que deseas eliminar?' }, class: 'btn btn-danger'

- content_for :address_map do
  = javascript_include_tag 'address_map'