= simple_form_for [@local, @beacon] do |f|
  - if @beacon.errors.any?
    #error_explanation
      %h2= "#{pluralize(@beacon.errors.count, "error")} prohibited this beacon from being saved:"
      %ul
        - @beacon.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :description
  .field
    = f.input :major
  .field
    = f.input :minor
  .field
    = f.input :proximity_uuid, as: :hidden, input_html: {value: '6E42F68A-D0D1-467B-A23E-9D11FA746E43'}
  .actions
    = f.submit 'Guardar', class: 'btn btn-success'
