%h2 Beacons #{@local.name}

= link_to 'Nuevo Beacon', new_local_beacon_path, remote: true, class: 'btn btn-success'
%p

%table.table
  %tr
    %th Major
    %th Minor
    %th Proximity uuid
    %th Description
    %th Local
    %th
    %th
    %th

  - @beacons.each do |beacon|
    %tr
      %td= beacon.major
      %td= beacon.minor
      %td= beacon.proximity_uuid
      %td= beacon.description
      %td= beacon.local.name
      %td= link_to 'Show', local_beacon_path(@local, beacon)
      %td= link_to 'Edit', edit_local_beacon_path(@local, beacon)
      %td= link_to 'Destroy', local_beacon_path(@local, beacon), :method => :delete, :data => { :confirm => '¿Estás seguro de eliminar este beacon?' }

%br

#newBeaconModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "newBeaconModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title Crear beacon
      .modal-body
        = render 'beacons/form'
