%h2 Beacons #{@local.name}

= link_to 'Nuevo Beacon', new_local_beacon_path, remote: true, class: 'btn btn-success'
%p

%table.table
  %tr
    %th Description
    %th Major
    %th Minor
    %th Proximity uuid
    %th.text-center Cupones Asociados
    %th

  - @beacons.each do |beacon|
    %tr
      %td= link_to beacon.description, local_beacon_path(@local, beacon)
      %td= beacon.major
      %td= beacon.minor
      %td= beacon.proximity_uuid
      %td.text-center= beacon.coupons.count 
      %td
        = link_to edit_local_beacon_path(@local, beacon) do
          %i.fa.fa-edit{style: 'color: orange'}
      %td
        = link_to local_beacon_path(@local, beacon), :method => :delete, :data => { :confirm => '¿Estás seguro de eliminar este beacon?' } do
          %i.fa.fa-times{style: 'color: red'}

%br

#newBeaconModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "newBeaconModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title Crear beacon
      .modal-body
        = render 'beacons/form'
