%p#notice= notice

%h1 Beacon #{@beacon.description}

.text-center
  #beacon-id{data: {id: @beacon.id}}
  %button.btn.btn-success.add-coupon <
  %button.btn.btn-danger.remove-coupon >

.row
  .col-sm-6
    %h2 Cupones asociados

    %table.table.all-coupons
      %tr
        %th
        %th Imagen
        %th Titulo
        %th Fecha
        %th Stock

      - @beacon.coupons.each do |coupon|
        %tr
          %td= check_box_tag :coupon_id, coupon.id
          %td= image_tag coupon.image.url, style:"width:150px"
          %td= coupon.title
          %td= coupon.end_date
          %td= coupon.stock
          %t

  .col-sm-6
    %h2 Todos los cupones

    %table.table.all-coupons
      %tr
        %th
        %th Imagen
        %th Titulo
        %th Fecha
        %th Stock

      - @coupons.each do |coupon|
        %tr
          %td= check_box_tag :coupon_id, coupon.id
          %td= image_tag coupon.image.url, style:"width:150px"
          %td= coupon.title
          %td= coupon.end_date
          %td= coupon.stock
          %t
