%p#notice= notice

%p
  %b Major:
  = @beacon.major
%p
  %b Minor:
  = @beacon.minor
%p
  %b Proximity uuid:
  = @beacon.proximity_uuid
%p
  %b Description:
  = @beacon.description
%p
  %b Local:
  = @beacon.local.name

= link_to 'Edit', edit_local_beacon_path(@local, @beacon)
\|
= link_to 'Back', request.referer
