%h2 Tiendas #{@local.name}

= link_to 'Nueva Tienda', new_local_store_path, remote: true, class: 'btn btn-success'
%p

%table.table
  %tr
    %th Name
    %th Nº Cupones
    %th
    %th

  - @stores.each do |store|
    %tr
      %td= link_to store.name, local_store_path(@local, store)
      %td= store.coupons.count
      %td
        = link_to edit_local_store_path(@local, store) do
          %i.fa.fa-edit{style: 'color: orange'}
      %td
        = link_to local_store_path(@local, store), :method => :delete, :data => { :confirm => '¿Estás seguro?' } do
          %i.fa.fa-times{style: 'color: red'}

%br

#newStoreModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "newStoreModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title Crear tienda
      .modal-body
        = render 'stores/form'