%p#notice= notice

%h2 Cupones tienda #{@store.name} #{@store.local.name}

= link_to 'Nuevo Coupon', new_local_store_coupon_path(@local, @store), class: 'btn btn-success'
%p

%table.table
  %tr
    %th Imagen
    %th Título
    %th Desde
    %th Hasta
    %th Tipo
    %th Proximidad
    %th Code
    %th
    %th

  - @store.coupons.each do |coupon|
    %tr
      %td= image_tag coupon.image.url, style:"width:250px"
      %td= coupon.title
      %td= l coupon.init_date, format: :long
      %td= l coupon.end_date, format: :long
      %td= coupon.access_level
      %td= coupon.proximity_trigger_range
      %td= coupon.code
      %td
        = link_to local_store_coupon_path(@local, @store, coupon) do
          %i.fa.fa-eye{style: 'color: green'}
      %td
        = link_to edit_local_store_coupon_path(@local, @store, coupon) do
          %i.fa.fa-edit{style: 'color: orange'}
      %td
        = link_to local_store_coupon_path(@local, @store, coupon), :method => :delete, :data => { :confirm => 'Are you sure?' } do
          %i.fa.fa-times{style: 'color: red'}