= simple_form_for [@local, @notification] do |f|
  - if @notification.errors.any?
    #error_explanation
      %h2= "#{pluralize(@notification.errors.count, "error")} prohibited this notification from being saved:"
      %ul
        - @notification.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :title, label: 'Título'
  .field
    = f.input :message, label: 'Mensaje', input_html: {rows: 3}
  .field
    = f.input :init_date, as: :string, input_html: {class: 'datetimepicker'}, label: 'Fecha de Inicio'
  .field
    = f.input :end_date, as: :string, input_html: {class: 'datetimepicker'}, label: 'Fecha de Fin'
  .field
    = f.input :proximity_trigger_range, collection: [['Lejos', '3'], ['Cerca', '2'], ['Muy Cerca', '1']], include_blank: false, label: 'Rango de captura'
  .field
    = f.input :access_level, collection: [['Privado', 'private'], ['Público', 'public']], include_blank: false, label: 'Tipo'
  .actions
    = f.button :submit, 'Guardar', class: 'btn btn-success'