%h1 Notificaciones #{@local.name}

%table.table
  %tr
    %th Título
    %th Mensaje
    %th Desde
    %th Caduca
    %th Proximidad
    %th Tipo
    %th
    %th

  - @notifications.each do |notification|
    %tr
      %td= notification.title
      %td= notification.message
      %td= l notification.init_date, format: :long
      %td= l notification.end_date, format: :long
      %td= notification.proximity_trigger_range
      %td= notification.access_level
      %td
        = link_to edit_local_notification_path(@local, notification) do
          %i.fa.fa-edit{style: 'color: orange'}
      %td
        = link_to local_notification_path(@local, notification), :method => :delete, :data => { :confirm => '¿Estás seguro de eliminar esta notificación?' } do
          %i.fa.fa-times{style: 'color: red'}

%br

= link_to 'Nueva Notificación', new_local_notification_path, class: 'btn btn-success'
