= simple_form_for [@local, @store, @coupon] do |f|
  - if @coupon.errors.any?
    #error_explanation
      %h2= "#{pluralize(@coupon.errors.count, "error")} prohibited this coupon from being saved:"
      %ul
        - @coupon.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-sm-6
      .field
        = f.input :title, label: 'Título'
    .col-sm-6
      .field
        = f.input :image, wrapper: :vertical_file_input, label: 'Imagen'
  .field
    = f.input :message, label: 'Mensaje', input_html: {rows: 3}
  .field
    = f.input :legal, label: 'Términos y condiciones', input_html: {rows: 3}
  .field
    = f.input :use_instructions, label: 'Instrucciones de uso'

  .row
    .col-sm-4
      .field
        = f.input :init_date, as: :string, input_html: {class: 'datetimepicker'}, label: 'Fecha de Inicio'
    .col-sm-4
      .field
        = f.input :end_date, as: :string, input_html: {class: 'datetimepicker'}, label: 'Fecha de Fin'
    .col-sm-4
      .field
        = f.input :category, collection: @categories, include_blank: false, label: 'Categoría'

  .row
    .col-sm-3
      .field
        = f.input :stock
    .col-sm-3
      .field
        = f.input :access_level, collection: [['Privado', 'private'], ['Público', 'public']], include_blank: false, label: 'Tipo'
    .col-sm-3
      .field
        = f.input :proximity_trigger_range, collection: [['Lejos', '3'], ['Cerca', '2'], ['Muy Cerca', '1']], include_blank: false, label: 'Rango de captura'
    .col-sm-3
      .field
        = f.input :code, label: 'Código Canje'
  .actions
    = f.button :submit, 'Guardar', class: 'btn btn-success'

