= simple_form_for [@local, @store, @coupon] do |f|
  - if @coupon.errors.any?
    #error_explanation
      %h2= "#{pluralize(@coupon.errors.count, "error")} prohibited this coupon from being saved:"
      %ul
        - @coupon.errors.full_messages.each do |msg|
          %li= msg


  .field
    = f.input :image
  .field
    = f.input :title
  .field
    = f.input :message
  .field
    = f.input :legal
  .field
    = f.input :init_date, as: :string, input_html: {class: 'datetimepicker'}
  .field
    = f.input :end_date, as: :string, input_html: {class: 'datetimepicker'}
  .field
    = f.input :access_level, collection: ['Privado', 'Público'], include_blank: false
  .field
    = f.input :proximity_trigger_range, collection: [['Lejos', '3'], ['Cerca', '2'], ['Muy Cerca', '1']], include_blank: false
  .field
    = f.input :code
  .actions
    = f.button :submit, 'Crear Cupón', class: 'btn btn-success'