%p#notice= notice

%td= image_tag @coupon.image.url, style:"width:300px"

%p
  %b Title:
  = @coupon.title
%p
  %b Message:
  = @coupon.message
%p
  %b Init date:
  = @coupon.init_date
%p
  %b End date:
  = @coupon.end_date
%p
  %b Access level:
  = @coupon.access_level
%p
  %b Legal:
  = @coupon.legal
%p
  %b Proximity trigger range:
  = @coupon.proximity_trigger_range
%p
  %b Code:
  = @coupon.code
%p
  %b Store:
  = @coupon.store.name
%p
  %b Stock:
  = @coupon.stock

= link_to 'Back', request.referer

